<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.philipplauer.unichat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_cupcake"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_cupcake_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ChatListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChatViewActivity"
            android:parentActivityName=".ChatListActivity" />
        <activity
            android:name=".ContactListActivity"
            android:label="@string/title_activity_contact_list"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <service android:name=".xmpp.RoosterConnectionService" />

        <activity
            android:name=".MeActivity"
            android:label="@string/title_me_activity"
            android:parentActivityName=".ChatListActivity" />
        <activity
            android:name=".ContactDetailsActivity"
            android:parentActivityName=".ContactListActivity" />
        <activity android:name=".MutliUserChatViewActivity"></activity>
    </application>

</manifest>