<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scalability4all.sathi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_cupcake"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_cupcake_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.scalability4all.sathi.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.scalability4all.sathi.ChatListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.scalability4all.sathi.ChatViewActivity"
            android:parentActivityName="com.scalability4all.sathi.ChatListActivity" />
        <activity
            android:name="com.scalability4all.sathi.ContactListActivity"
            android:label="@string/title_activity_contact_list"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <service android:name="com.scalability4all.sathi.xmpp.RoosterConnectionService" />

        <activity
            android:name="com.scalability4all.sathi.MeActivity"
            android:label="@string/title_me_activity"
            android:parentActivityName="com.scalability4all.sathi.ChatListActivity" />
        <activity
            android:name="com.scalability4all.sathi.ContactDetailsActivity"
            android:parentActivityName="com.scalability4all.sathi.ContactListActivity" />
        <activity android:name="com.scalability4all.sathi.MutliUserChatViewActivity"></activity>
    </application>

</manifest>